@import "_variables.scss";

/** Default styles */
body {
  background-color: $light-bg;
  overflow-y: scroll;
}

.link-active {
  color: red;
}

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.subText {
  font-size: 15px;
  line-height: 20px;
  font-weight: 200;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  p.subText {
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  p.subText {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
  }
}
