@import "_variables.scss";

/** Animations/Page Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity $page-transition-duration ease-out !important;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-leave-active,
.slide-enter-active {
  transition: $page-transition-duration;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}
